* {
  margin: auto;
  padding: auto;
  background-color: #E5E5E5;
  box-sizing: border-box;
}


:root {
  --button: #FF0000;
  --main-background: #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

.bar {
  width: 1320px;
  height: 48px;
  align-items: center;
  text-align: center;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #E5E5E5;
}

.logo {
  width: 52px;
  height: 32.4px;
  background: none;
}

.sacola {
  width: 52px;
  height: 32.4px;
  background: none;
}

a {
  font-family: roboto;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  font-size: bold;
  background: none;
}

a:hover {
  color: #007fff;
}

input {
  position: relative;
  left: 50px;
  width: 250px;
  height: 35px;
  border-radius: 25px;
  text-align: left;
  padding: 10px;
  border-color: #000;
  background-color: rgb(255, 255, 255);
}

.lupa {
  position: relative;
  top: 0px;
  right: 70px;
  width: 25px;
  height: 25px;
  opacity: 70%;
  background: none;
}

.imgs {
  position: relative;
  margin-left: 450px;
  width: 870px;
  height: 800px;
  background-color: #9C9696;
  /* display: block; */
  padding: 40px;
}

.imgs #ampliado {
  background: none;
  width: 500px;
  height: 500px;
  display: flex;
}

.imgs #gl1 {
  width: 240px;
  height: 180px;
  margin-left: 20px;
  display: inline-block;
}

.imgs #gl2 {
  width: 240px;
  height: 180px;
  margin-left: 20px;
  border-bottom: 6px solid #FF0000;
}

.imgs #text1 {
  position: absolute;
  text-align: left;
  font-family: roboto;
  padding: 10px;
  top: 110px;
  left: -350px;
  background: none;
  font-size: 50px;
}

.imgs #desc {
  position: absolute;
  font-family: roboto;
  top: 380px;
  left: -342px;
  background: none;
  font-size: 13px;
  font-weight: bold;
  color: #9C9696;
}

.imgs #text2 {
  position: absolute;
  text-align: left;
  font-family: roboto;
  padding: 10px;
  top: 410px;
  left: -355px;
  background: none;
  font-size: 50px;
}

.imgs #btn {
  width: 274px;
  height: 90px;
  position: absolute;
  text-align: center;
  font-family: roboto, sans-serif;
  top: 500px;
  left: -342px;
  font-size: 24px;
  background-color: #FF0000;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.footer {
  width: 1320px;
  height: 166px;
  display: flex;
  text-transform: uppercase;
  background-color: #E5E5E5;
}

.footer #exp {
  position: relative;
  left: 29px;
  width: 437px;
  height: 166px;
  background-color: #000;
  cursor: pointer;
}

.footer #exp1 {
  background: none;
  color: #fff;
  font-family: roboto;
  text-align: center;
  margin-top: 73px;
}

.footer #video {
  position: relative;
  left: -28px;
  align-items: left;
}

.footer #seta {
  position: relative;
  left: 310px;
  top: -29px;
  width: 30px;
  height: 30px;
  background: none;
}